
$nav-bar-height: 8em;

.nav{
    height: $nav-bar-height;

    &__container{
        display: flex;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        border-bottom: .1em solid gray;
    }

    &__hamburger{
        display: none;
    }

    &__logo{}

    &__menu{
        display: flex;
        height: 100%;

        &-hide-button{
            display: none;
        }
    }

    &__item{
        width: 7em;
        height: 100%;

        list-style: none;
        line-height: $nav-bar-height;
        text-align: center;
        
        &:hover{
            border-bottom: .5em solid orange;
        }
    }

    &__link{
        display: inline-block;
        height: 100%;

        font-size: 1.1rem;
        text-decoration: none;

        color: black;
    }

    &__group{
        display: flex;
        align-items: center;
        gap: 2.2rem;
    }

    &__cart{
        position: relative;
        cursor: pointer;

        &-counter{
            display: none;
            position: absolute;
            bottom: 1em;
            left: 1.5em;
            padding: .1em .6em;
            border-radius: 1em;
            background-color: orange;
            font-size: .8rem;
            font-weight: 700;
            color: white;

            &-active{
                display: block;
            }
        }

        &-component{
            position: absolute;
            right: -14em;
            top: 4em;
            display: none;
            flex-direction: column;
            width: 30em;
            padding-bottom: 2em;
            border-radius: 1em;
            background-color: white;
            box-shadow: 0px 8px 25px 8px rgba(184,184,184,0.75);
            z-index: 1;
            cursor:auto;

            &-head{
                margin-bottom: 2em;
                height: 4em;
                line-height: 4em;
                text-align: center;
                border-bottom: .1em gray solid;
            }

            &-table{
                display: flex;
                &-body{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 100%;

                    &-cart-empty-message{
                        display: none;
                        text-align: center;
                        justify-content: center;
                    }
                }

                &-row{
                    display: flex;
                    grid-template-columns: 1fr 3fr 1fr;
                    width: 100%;
                }

                &-cell{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    &-img{
                        width: 50%;
                        border-radius: 1em;
                    }

                    &-remove-icon{
                        width: 1.7em;
                        height: 2.3em;
                        cursor: pointer;
                    }
                }
                &-cell:nth-child(1){
                    width: 30%;
                }
                &-cell:nth-child(2){
                    width: 50%;
                }
                &-cell:nth-child(3){
                    width: 20%;
                }
            }
        }
}

    &__avatar{
        width: 4.5em;
       
        border-radius: 50%;
        border: .1em solid black;
        cursor: pointer;

        &:hover{
            border: .1em solid orange;
        }
    }
}

.active{
    display: flex;
}
